.chatBoxArena {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;

}

.top-bar {
    font-size: 27px;
    padding: 7px;
    color: white;
    background: rgba(43, 25, 203, 0.6);
}

.messages {
    overflow-y: scroll;
}


.message-send-bar {
    display: grid;
    padding: 7px;
    grid-template-columns: 7fr 1fr;
    background: rgba(255,255,255,0.4);
    border-top: 1px solid rgb(70, 70, 70);
}
.message-send-bar > *{
    font-size: 20px;
}
.message-send-bar > input {
    margin-right: 5px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
}

.message-send-bar > button {
    color: whitesmoke;
    background-color: rgb(6, 77, 6);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.message-send-bar > button:hover {
    background-color: rgb(5,50,2);
}

.single-message{
    font-size: 20px;
    margin: 7px;
    display: flex;
}

.single-message > div {
   
    padding: 5px 11px;
    max-width: 65%;
    border-radius: 13px;
}
.f-start {
    justify-content: flex-start;
}
.f-end {
    justify-content: flex-end;
}
.self-message {
    float: right;
    background-color: rgb(132, 246, 122);
}

.other-message {
    background-color: #eee;
}

.timestamp {
    font-size: 11px;
    font-style: italic;
    opacity: 0.63;
    text-align: right;
}